<app-hero size="large" [bannerUrl]="'/assets/images/ascendant-banner-image-commander.jpg'">
  <ng-container *ngIf="clanData | async; let data">
    <h1 ku-color="primary">
      {{data.detail?.name + ' [' + data.detail?.clanInfo?.clanCallsign + ']'}}
    </h1>
    <p ku-color="foreground">
      {{data.detail?.motto}}
    </p>
  </ng-container>
</app-hero>
<div class="app-content">
    <div class="destiny-nav">
        <div>
            <button
            routerLink="roster"
            routerLinkActive="is-active"
            mat-flat-button
            ku-background-color="background"
            ku-color="primary"
          >
              <span ku-type="base">Roster</span>
          </button>
          <button
            routerLink="leaderboards"
            routerLinkActive="is-active"
            mat-flat-button
            ku-background-color="background"
            ku-color="primary"
          >
              <span ku-type="base">Leaderboards</span>
          </button>
          <button
            routerLink="info"
            routerLinkActive="is-active"
            mat-flat-button
            ku-background-color="background"
            ku-color="primary"
          >
              <span ku-type="base">Info</span>
          </button>
        </div>
        <div *ngIf="clanData | async; let clan">
          <a
              mat-flat-button
              color="primary"
              href="https://www.bungie.net/en/ClanV2?groupid={{clan.detail?.groupId}}"
              target="_blank"
              title="Request to Join"
          >
              <span ku-type="base">Request to Join</span>
          </a>
        </div>
      </div>
    <router-outlet></router-outlet>
</div>