<app-hero size="large" [bannerUrl]="'/assets/images/ascendant-destiny-2-banner.jpg'">
  <h1 ku-color="light">Destiny 2 Clan Viewer</h1>
  <p ku-color="light">
    View rosters, player stats, stat leaderboards, and more for any Destiny 2 clan.
  </p>
  <p ku-color="light">
    Bookmark your clan's URL and share with your clanmates.
  </p>
</app-hero>
<div class="app-content">
  <div class="row">
      <div class="col-xs-10 offset-xs-2 col-md-4 offset-md-1 title-block" ku-background-color="primary">
          <h1 ku-color="dark">Find Your Clan</h1>
      </div>
      <div class="col-xs-12 col-md-7">
        <div class="clan-search">
          <app-input [fullWidth]="true" [debounce]="300" [(value)]="clanName"></app-input>
        </div>
      </div>
  </div>
</div>