@import 'includes';

:host {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.title-block {
  margin-bottom: $ku-spacing-lg;
  margin-top: -$ku-spacing-xl;
  padding: $ku-spacing-lg;
  position: relative;
  @include z-index-1;
  h1 {
    font-size: $ku-type-xxl;
    margin: 0;
    max-width: 360px;
  }
  @media #{$mobile} {
    h1 {
      font-size: $ku-type-xl;
    }
  }
}

.clan-search {
  padding-top: $ku-spacing-lg;
  app-input,
  button {
    margin: $ku-spacing-md 0;
  }
}

.clan-search-result {
  display: block;
  padding: $ku-spacing-md;
  text-decoration: none;
}
