<ng-container *ngIf="isOpen">
    <div class="app-backdrop">
        <div class="app-backdrop-background" (click)="close()">
            <button class="app-backdrop-close" mat-icon-button>
                <mat-icon ku-color="light">close</mat-icon>
            </button>
        </div>
        <div class="app-backdrop-card">
            <div class="app-backdrop-content mat-elevation-z7" ku-background-color="background">
                <ng-container *ngIf="title">
                    <div class="app-backdrop-title">
                        <h1 ku-color="foreground">{{title}}</h1>
                    </div>
                </ng-container>
                <div class="app-backdrop-content">
                    <ng-content></ng-content>
                </div>
            </div>
        </div>
    </div>
</ng-container>