@import 'includes';

.app-backdrop {
    display: block;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    width: 100vw;
}

.app-backdrop-background {
    background-color: rgba($dark, 0.9);
    height: 100%;
    left: 0;
    padding-top: $ku-spacing-sm;
    position: absolute;
    text-align: right;
    top: 0;
    width: 100%;
}

.app-backdrop-close {
    margin-right: $ku-spacing-md;
    margin-top: $ku-spacing-sm;
    @media #{$mobile} {
        margin-top: 0;
    }
}

.app-backdrop-card {
    bottom: 0;
    height: calc(100% - 2.5rem);
    left: 50%;
    max-width: calc(100% - 9rem);
    padding: 0 $ku-spacing-md;
    position: absolute;
    transform: translateX(-50%);
    width: 100%;
    @include z-index-8;
    @media #{$mobile} {
        height: calc(100% - 2.5rem);
        max-width: none;
    }
}

.app-backdrop-content {
    animation: slideIn 300ms ease-in;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

@keyframes slideIn {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0%);
    }
}

:host {
    display: none;
    &.is-open {
        display: block;
        height: 100%;
        left: 0;
        overflow: hidden;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 900;
    }
}
