<ng-container [ngSwitch]="type">

  <ng-container *ngSwitchCase="'textarea'">
    <textarea
      name="{{guid}}"
      id="{{guid}}"
      ku-color="foreground"
      placeholder="{{placeholder || ''}}"
      [ngClass]="cssClasses"
      [ngModel]="value"
      (ngModelChange)="handleInput($event)"
    ></textarea>
  </ng-container>
  
  <ng-container *ngSwitchDefault>
    <input
      type="{{type}}"
      id="{{guid}}"
      name="{{guid}}"
      placeholder="{{placeholder || ''}}"
      ku-color="foreground"
      [ngClass]="cssClasses"
      [ngModel]="value"
      (ngModelChange)="handleInput($event)"
    >
  </ng-container>
  
</ng-container>
