<h2 ku-color="primary">{{leaderboardTitle}}</h2>
<table class="destiny-leaderboard-table" mat-table [dataSource]="topFive">
    <ng-container matColumnDef="icon">
        <mat-header-cell *matHeaderCellDef class="d2-leaderboard-icon"></mat-header-cell>
        <mat-cell *matCellDef="let player" class="d2-leaderboard-icon">
            <div class="d2-leaderboard-icon-wrap">
                <img [src]="'https://www.bungie.net/' + player.player.icon" alt="{{player.player.name}}">
            </div>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="player">
        <mat-header-cell *matHeaderCellDef class="d2-leaderboard-name">
            Player
        </mat-header-cell>
        <mat-cell *matCellDef="let player" class="d2-leaderboard-name">
            <span>{{player.player.name}}</span>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="value">
        <mat-header-cell *matHeaderCellDef class="d2-leaderboard-status">
            {{leaderboardTitle}}
        </mat-header-cell>
        <mat-cell *matCellDef="let player" color="primary" class="d2-leaderboard-status">
            {{player.value}}
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="['icon', 'player', 'value']" class="d2-leaderboard-header-row">
    </mat-header-row>
    <mat-row *matRowDef="let player; columns: ['icon', 'player', 'value'];" class="d2-leaderboard-row"
        (click)="viewPlayer(player)"></mat-row>

</table>
<button class="view-full-leaderboard" mat-stroked-button color="primary" (click)="viewFullLeaderboard()">View Full Leaderboard</button>
<app-backdrop #FullLeaderboard>
    <div class="full-leaderboard-wrap" ku-background-color="background">
        <table class="destiny-leaderboard-table" mat-table [dataSource]="leaderboard">
            <ng-container matColumnDef="icon">
                <mat-header-cell *matHeaderCellDef class="d2-leaderboard-icon"></mat-header-cell>
                <mat-cell *matCellDef="let player; let i = index" class="d2-leaderboard-icon">
                    <div class="d2-leaderboard-icon-wrap">
                        <img [src]="bungie.getIconUrl(player.player.icon)" alt="{{player.player.name}}">
                    </div>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="rank">
                <mat-header-cell *matHeaderCellDef class="d2-leaderboard-rank">
                    Rank
                </mat-header-cell>
                <mat-cell *matCellDef="let player" color="primary" class="d2-leaderboard-rank">
                    <span ku-color="foreground">{{player.rank}}</span>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="player">
                <mat-header-cell *matHeaderCellDef class="d2-leaderboard-name">
                    Player
                </mat-header-cell>
                <mat-cell *matCellDef="let player" class="d2-leaderboard-name">
                    <span ku-color="foreground">{{player.player.name}}</span>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="value">
                <mat-header-cell *matHeaderCellDef class="d2-leaderboard-status">
                    {{leaderboardTitle}}
                </mat-header-cell>
                <mat-cell *matCellDef="let player" color="primary" class="d2-leaderboard-status">
                    {{player.value}}
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="['rank', 'icon', 'player', 'value']; sticky: true"
                class="d2-leaderboard-header-row">
            </mat-header-row>
            <mat-row *matRowDef="let player; columns: ['rank', 'icon', 'player', 'value'];" class="d2-leaderboard-row"
                (click)="viewPlayer(player)"></mat-row>
        </table>
    </div>
</app-backdrop>
<app-backdrop #Player>
    <app-destiny-profile [player]="selectedPlayer | async"></app-destiny-profile>
</app-backdrop>