@import 'includes';

table,
table.destiny-leaderboard-table {
    background: transparent;
    width: 100%;
}

mat-row {
    cursor: pointer;
    padding: $ku-spacing-sm 0;
}

mat-row,
mat-header-row {
    border-color: rgba(black, 0.1);
}

mat-form-field {
    width: 100%;
}

.d2-leaderboard-icon {
    flex: 0 0 $ku-spacing-xxl;
}

.d2-leaderboard-rank {
    flex: 0 0 $ku-spacing-xl;
}

.d2-leaderboard-name span {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.d2-leaderboard-status {
    justify-content: flex-end;
    text-align: right;
}

.d2-leaderboard-icon-wrap {
    border-radius: 50%;
    display: block;
    height: $ku-spacing-lg;
    overflow: hidden;
    width: $ku-spacing-lg;
    img {
        display: block;
        width: 100%;
    }
}

button.view-full-leaderboard {
    margin-top: $ku-spacing-md;
    width: 100%;
}

app-backdrop {
    app-destiny-profile {
        display: flex;
        flex-direction: column;
        height: 100%;
    }    
}

.full-leaderboard-wrap {
    height: 100%;
    overflow-y: auto;
    @media #{$mobile} {
        .d2-leaderboard-icon {
            display: none;
        }
    }
}

:host {
    display: block;
    width: 100%;
}
