@import '../../../../../assets/scss/includes';

table {
    width: 100%;
}

mat-row {
    cursor: pointer;
    padding: $ku-spacing-xs 0;
}

mat-form-field {
    width: 100%;
}

.asc-d2-leaderboard-icon {
    flex: 0 0 $ku-spacing-xxl;
}

.asc-d2-leaderboard-rank {
    flex: 0 0 $ku-spacing-xl;
}

.asc-d2-leaderboard-name span {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.asc-d2-leaderboard-status {
    justify-content: flex-end;
    text-align: right;
}

.asc-d2-leaderboard-icon-wrap {
    border-radius: 50%;
    display: block;
    height: $ku-spacing-lg;
    overflow: hidden;
    width: $ku-spacing-lg;
    img {
        display: block;
        width: 100%;
    }
}

button.asc-view-full-leaderboard {
    margin-top: $ku-spacing-md;
    width: 100%;
}

asc-backdrop {
    asc-destiny-profile {
        display: flex;
        flex-direction: column;
        height: 100%;
    }    
}

.asc-full-leaderboard-wrap {
    height: 100%;
    overflow-y: auto;
    @media #{$mobile} {
        .asc-d2-leaderboard-icon {
            display: none;
        }
    }
}

:host {
    display: block;
    width: 100%;
}
