@import 'includes';
:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-x: hidden;
}

app-header {
  flex: 0;
}

section#app-body {
  flex: 1;
  padding-left: 4.5rem;
  @media #{$mobile} {
    padding-left: 0;
  }
}

app-footer {
  flex: 0;
}