$dark-theme-primary: mat-palette($mat-yellow, 500);
$dark-theme-accent: mat-palette($mat-deep-purple, 400);
$dark-theme-warn: mat-palette($mat-red, 400);
$dark-theme: mat-dark-theme($dark-theme-primary, $dark-theme-accent, $dark-theme-warn);
