$light-theme-primary: mat-palette($mat-deep-purple, 300);
$light-theme-accent: mat-palette($mat-green, A400);
$light-theme-warn: mat-palette($mat-red, 500);
$light-theme: mat-light-theme($light-theme-primary, $light-theme-accent, $light-theme-warn);
