@import '../includes';

$themes: (
  light: (
    primary: $accent,
    accent: $primary,
    background: $light,
    foreground: $dark
  ),
  dark: (
    primary: $primary,
    accent: $accent,
    background: $dark,
    foreground: $light
  )
);