<nav class="nav">
  <a class="nav-logo" routerLink="/">
    <app-logo
      [width]="'1.5rem'"
      [height]="'1.5rem'"
      ku-background-color="foreground"
      ku-color="background"
    ></app-logo>
    <div class="nav-logo-text">
      <span ku-color="foreground">デスティニー2</span>
    </div>
  </a>
  <div class="nav-icon-target" ku-color="foreground" (click)="toggle()">
    <div class="nav-icon" [class.is-open]="navOpen | async">
      <svg height="2" width="24">
        <rect fill="currentColor" height="2" width="24" />
      </svg>
      <svg height="2" width="24">
        <rect fill="currentColor" height="2" width="24" />
      </svg>
    </div>
  </div>
  <div class="nav-overlay" [class.is-open]="navOpen | async" (click)="close()"></div>
  <div class="nav-menu-wrap" [class.is-open]="navOpen | async">
    <ul class="nav-menu">
      <li>
        <a
          class="nav-menu-item"
          routerLink="/"
          ku-type="sm"
          ku-type-transform="uppercase"
          (click)="close()"
        >
          Home
        </a>
      </li>
      <li>
        <a
          class="nav-menu-item"
          routerLink="/scrim-rules"
          ku-type="sm"
          ku-type-transform="uppercase"
          (click)="close()"
        >
          Scrim Rules
        </a>
      </li>
    </ul>
    <ul class="nav-menu">
      <li>
        <div
          class="nav-menu-item no-hover"
          ku-type="sm"
          ku-type-transform="uppercase"
        >
          <mat-slide-toggle
            #ThemeToggle
            color="primary"
            [checked]="(themeService.activeTheme | async) === 'dark'"
            (change)="setTheme($event)"
          >
            <span ku-type="sm">Dark Mode</span>
          </mat-slide-toggle>
        </div>
      </li>
      <li>
        <div
          class="nav-menu-item"
          ku-type="sm"
          ku-type-transform="uppercase"
          (click)="install()"
        >
          <mat-icon style="margin-right: 0.5rem">
            save_alt
          </mat-icon>
          Install
        </div>
      </li>
    </ul>
  </div>
</nav>