@import 'includes';

.d2-leaderboard-loading {
    display: flex;
    padding: $ku-spacing-xxl 0;
    text-align: center;
    @include vertical-center;
    @include justify-center;
}

.destiny-leaderboard {
    margin-bottom: $ku-spacing-lg;
}

mat-form-field {
    width: 100%;
}

:host {
    box-sizing: border-box;
    display: block;
    width: 100%;
}