@import 'includes';

.destiny-profile-loading {
    height: 100%;
    @include vertical-center;
    @include justify-center;
}

.destiny-profile-header {
    display: flex;
    width: 100%;
    @include space-between;
    h2 {
        margin-top: 0;
    }
    @media #{$mobile} {
        flex-direction: column;
    }
}

.destiny-profile-header-characters {
    padding-top: .83rem;
}

.destiny-profile-wrap,
app-destiny-stats {
    display: flex;
    flex-direction: column;
    flex: 1;
}

app-hero {
    flex: 0;
}

:host {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
}
