<ng-container *ngIf="destinyProfile else loading">
    <div class="destiny-profile-wrap">
        <ng-container *ngIf="showBanner">
            <app-hero [bannerUrl]="profileTheme">
                <div class="destiny-profile-header">
                    <div class="destiny-profile-header-info">
                        <h2 ku-color="light">
                            <span
                                [matTooltip]="destinyProfile.bungieProfile.bio ? destinyProfile.bungieProfile.bio : ''"
                                matTooltipPosition="after"
                            >
                                {{destinyProfile.name}}
                            </span>
                        </h2>
                        <div>
                            <span ku-color="primary">
                                <span ku-color="light">Total Hours</span>
                                {{destinyProfile.hoursPlayed}}
                            </span>
                        </div>
                        <div>
                            <span ku-color="primary">
                                <span ku-color="light">Last Played</span>
                                {{destinyProfile.lastPlayed | date}}
                            </span>
                        </div>
                    </div>
                    <div class="destiny-profile-header-characters">
                        <button
                            mat-flat-button
                            color="primary"
                            [matMenuTriggerFor]="characterSelection"
                            style="padding-right: 0.5em"
                        >
                            {{selectedCharacterClass ? selectedCharacterClass : 'All'}}
                            <mat-icon>expand_more</mat-icon>
                        </button>
                        <mat-menu
                            #characterSelection="matMenu"
                            [hasBackdrop]="true"
                        >
                            <button
                                mat-menu-item
                                (click)="loadCharacter(); selectedCharacterClass = 'All'"
                            >
                                All
                            </button>
                            <ng-container *ngFor="let character of destinyProfile.characters">
                                <button
                                    mat-menu-item
                                    (click)="loadCharacter(character)"
                                >
                                    {{character.characterClass}}
                                </button>
                            </ng-container>
                        </mat-menu>
                    </div>
                </div>
            </app-hero>
        </ng-container>
        <app-destiny-stats
            #stats
            [pvpStats]="pvpStats"
            [pveStats]="pveStats"
        ></app-destiny-stats>
    </div>
</ng-container>
<ng-template #loading>
    <div class="destiny-profile-loading">
        <mat-spinner
            size="48"
            color="primary"
        ></mat-spinner>
    </div>
</ng-template>
