<div
    *ngIf="!dataSource else roster"
    class="d2-roster-loading"
>
    <mat-spinner size="36" color="primary"></mat-spinner>
</div>

<ng-template #roster>
    <app-input
        placeholder="Search roster..."
        [debounce]="300" 
        [fullWidth]="true"
        (valueChange)="searchRoster($event)"
    ></app-input>
    <mat-table
        [dataSource]="dataSource"
        id="clanRoster"
    >

        <ng-container matColumnDef="icon">
            <mat-header-cell
                *matHeaderCellDef
                class="d2-roster-icon"
            ></mat-header-cell>
            <mat-cell
                *matCellDef="let player"
                class="d2-roster-icon"
            >
                <div class="d2-roster-icon-wrap">
                    <img
                        [src]="bungie.getIconUrl(player.icon)"
                        alt="{{player.name}}"
                    >
                </div>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
            <mat-header-cell
                *matHeaderCellDef
                class="d2-roster-name"
                ku-color="foreground"
            >
                <span ku-type="base" ku-color="foreground">Player</span>
            </mat-header-cell>
            <mat-cell
                *matCellDef="let player"
                class="d2-roster-name"
                ku-color="foreground"
            >
                <span ku-type="base" ku-color="foreground">{{player.name}}</span>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
            <mat-header-cell
                *matHeaderCellDef
                class="d2-roster-status"
                ku-color="foreground"
            >
                <span ku-type="base" ku-color="foreground">Status</span>
            </mat-header-cell>
            <mat-cell
                *matCellDef="let player"
                color="primary"
                class="d2-roster-status"
            >
                <ng-container *ngIf="player.status === 'Online' else offline">
                    <strong ku-type="base" ku-color="success">{{player.status}}</strong>
                </ng-container>
                <ng-template #offline>
                    <span ku-type="base" ku-color="foreground">{{player.status}}</span>
                </ng-template>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="profile">
            <mat-header-cell
                *matHeaderCellDef
                class="d2-roster-profile"
                ku-color="foreground"
            >
                <span ku-type="base" ku-color="foreground">Profile</span>
            </mat-header-cell>
            <mat-cell
                *matCellDef="let player"
                class="d2-roster-profile"
            >
                <button mat-flat-button color="primary">
                    <span ku-type="base">View Profile</span>
                </button>
            </mat-cell>
        </ng-container>

        <mat-header-row
            *matHeaderRowDef="rosterTableColumnNames"
            class="d2-roster-header-row"
        ></mat-header-row>
        <mat-row
            *matRowDef="let player; columns: rosterTableColumnNames;"
            class="d2-roster-row"
            (click)="viewPlayer(player)"
        ></mat-row>
        </mat-table>
    </ng-template>

    <mat-paginator
        id="clanRosterPaginator"
        [pageSize]="pageSize"
        [pageIndex]="0"
        [pageSizeOptions]="pageSizeOptions"
        ku-color="foreground"
        ku-type="base"
    ></mat-paginator>

<app-backdrop (isOpenChange)="updateRoute($event)">
    <app-destiny-profile [player]="selectedPlayer"></app-destiny-profile>
</app-backdrop>
