@import 'includes';
@import 'themes/themify';

.d2-roster-loading {
    display: flex;
    padding: $ku-spacing-xxl;
    @include vertical-center;
    @include justify-center;
}

mat-table#clanRoster {
    background: transparent;
    width: 100%;
}

mat-paginator#clanRosterPaginator {
    background: transparent;
}

mat-header-row {
    @media #{$mobile} {
        display: none;
    }
}

mat-row {
    cursor: pointer;
    padding: $ku-spacing-sm 0;
    @media #{$mobile} {
        display: flex;
        flex-direction: column;
        padding: $ku-spacing-md;
        mat-cell {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

mat-row,
mat-header-row {
    border-color: rgba(black, 0.1);
}

mat-cell {
    @media #{$mobile} {
        justify-content: center;
        width: 100%;
    }
}

mat-form-field {
    width: 100%;
}

.d2-roster-icon {
    flex: 0 0 $ku-spacing-xxl;
}

.d2-roster-profile {
    flex: 0 0 10rem;
    button {
        width: 100%;
    }
}

.d2-roster-icon,
.d2-roster-profile {
    @media #{$mobile} {
        flex: 0;
    }
}

.d2-roster-icon-wrap {
    border-radius: 50%;
    display: block;
    height: $ku-spacing-lg;
    overflow: hidden;
    width: $ku-spacing-lg;
    img {
        display: block;
        width: 100%;
    }
}

app-destiny-profile {
    display: flex;
    flex-direction: column;
    height: 100%;
}

mat-footer-row::after,
mat-header-row::after,
mat-row::after {
    @media #{$mobile} {
        display: none;
    }
}

:host {
    box-sizing: border-box;
    display: block;
    width: 100%;
}
