@import 'includes';
@import './assets/scss/themes/theming';
@import '~@angular/cdk/overlay-prebuilt.css';

* {
  box-sizing: border-box;
  font-family: 'Poppins', Roboto,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}

html,
body {
  font-size: 24px;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  width: 100%;
}

body {
  @media #{$mobile}, #{$tablet} {
    padding-top: 2.5rem;
  }
}

.app-content {
  max-width: calc(100% - 5rem);
  width: 100%;
  @media #{$mobile}, #{$tablet} {
    max-width: none;
    padding-left: $ku-spacing-md;
    padding-right: $ku-spacing-md;
  }
}

@import './assets/scss/themes/utils.theme';
@import './assets/scss/overrides/styles.override';
